mixin colors__item(color, title, description)
    .colors__item
        .colors__square(style=`background-color: ${color};`)
        .colors__text
            p.colors__title= title
            p.colors__description= description