.textField__type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textField__label {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $shade100;
}
.textField__input {
    margin-top: 5px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 0 12px 15px;
    color: $shade75;
    outline: none;
    width: 320px;
    margin-bottom: 20px;

    &:hover, &:focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }

    &::placeholder {
        color: $shade25;
    }
}