mixin textField-sub(label, placeholder)
    .textField-sub
        p.component-label= label
        input(class="textField-sub__input" type="text" placeholder=placeholder)
        a(href="#")
            img(src="src/img/arrowNext.svg", alt="Отправить") 
