mixin dropdownDate(multiInput)
    .dropdownDate
        if multiInput
            input(class="datePicker" type="text" id="datepicker__start" placeholder="ДД.ММ.ГГГГ")
            input(class="datePicker" type="text" id="datepicker__end" placeholder="ДД.ММ.ГГГГ")