.dropdownDate {
  display: flex;
  justify-content: space-between;
}

.datePicker {
  cursor: pointer;
}

.datePicker__right {
  cursor: auto;
}

.dropdownDate__input {
  border: 1px solid $shade25;
  padding: 12px 15px;
  border-radius: 4px;
  outline: none;
  position: relative;
  cursor: pointer;

  &::placeholder {
    color: $shade75;
  }
  &:first-child {
    margin-right: 20px;
  }
}

.dropdownDate__pick {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 100%;
  position: relative;

  &:hover {
    .dropdownDate__input {
      border: 1px solid rgba(31, 32, 65, 0.5);
    }
  }

  &::after {
    content: '';
    position: absolute;
    background: url('../../src/img/arrowMore.svg') no-repeat center;
    width: 20px;
    height: 20px;
    bottom: 15px;
    right: 12px;
  }

  &:last-child {
    margin: 0;
  }
}

.dropdownDate__label {
  color: $shade100;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 6px;
}

#datepicker__end {
  cursor: auto;
}

//-----------air datepicker-------------------
.datepicker {
  width: 288px;
  padding: 15px;
}

.datepicker--pointer {
  display: none;
}

.datepicker--days-names {
  margin: 0 0 10px !important;
  font-weight: bold;
}

.datepicker--day-name {
  color: #bc9cff !important;
}

.datepicker--nav {
  border: none !important;
  margin: 20px 0 30px;

  &-title {
    color: $shade100;
    font-size: 19px;
    line-height: 23px;
    font-weight: bold;
  }
}

.datepicker--cell {
  border-radius: 50%;
  height: 40px;
}

//Today
.datepicker--cell.-current- {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  font-weight: bold;
  color: #fff;
}

//Current Day
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current- {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 50%;
  font-weight: bold;
}

//inRange входящий в текущую дату ОТ (подложка)
.datepicker--cell.-range-from-::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  z-index: -1;
}

//inRange входящий в текущую дату К (подложка)
.datepicker--cell.-range-to-::after {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50%;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  z-index: -1;
}

//Выбор новой даты в диапозоне ОТ
.datepicker--cell.-range-from- {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 50%;
  color: #fff !important;
  font-weight: bold;
  border: none;
}

//Выбор новой даты в диапозоне К
.datepicker--cell.-range-to- {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 50%;
  color: #fff !important;
  font-weight: bold;
  border: none;
}

//inRange focus
.datepicker--cell.-in-range-.-focus- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.3) 0%, rgba(139, 164, 249, 0.3) 100%);
}

//selectedFocus
.datepicker--cell.-selected-.-focus- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.75) 0%, rgba(139, 164, 249, 0.75) 100%);
}

//InRange
.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  color: $shade50;
}

.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  color: $shade25;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.3) 0%, rgba(139, 164, 249, 0.3) 100%);
}

.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.75) 0%, rgba(139, 164, 249, 0.75) 100%);
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade-,
.datepicker--cell.-disabled- {
  color: $shade25;
}

.airNext,
.airPrev {
  fill: #bc9cff !important;
  stroke: #bc9cff !important;
  stroke-width: 1px !important;
}

.airArrow {
  height: 16px !important;
}
