mixin dropdownDate(multiInput, label1, label2)
    .dropdownDate
        if multiInput
            .dropdownDate__pick
                label.component-label= label1
                input(class="dropdownDate__input" type="text" id="datepicker__start" placeholder="ДД.ММ.ГГГГ" readonly)
            .dropdownDate__pick
                label.component-label= label2
                input(class="dropdownDate__input" type="text" id="datepicker__end" placeholder="ДД.ММ.ГГГГ" readonly)
        else
            .dropdownDate__pick
                label.component-label= label1
                input(class="dropdownDate__input" type="text" id="datepicker__single" placeholder="ДД ММ - ДД ММ" readonly)