mixin dropdownDate(multiInput, label1, label2)
    .dropdownDate
        if multiInput
            .datedrop
                label.datepicker__label= label1
                input(class="datePicker" type="text" id="datepicker__start" placeholder="ДД.ММ.ГГГГ" readonly)
            .datedrop
                label.datepicker__label= label2
                input(class="datePicker__right" type="text" id="datepicker__end" placeholder="ДД.ММ.ГГГГ" readonly)