extends ../../layouts/main
include ../../../components/components

block variables
    - var title = 'Form Elements';

block content
    .elements__container
        .elements__block
            .elements__column
                +textField('textId', 'text field', 'Email', 'mail')
                +dropdown('dropdown', false, 'Сколько гостей', 'Взрослые', 'Дети', 'Младенцы')
                +dropdown('dropdown', true, 'Выберите номер', 'Спальни', 'Кровати', 'Ванные комнаты')
                +dropdownDate(true)