extends ../../layouts/main

block variables
    - var title = 'UI-kit Pages';

block content
    a.index-link(href="./color.html") Страница 1 - Colors&Type
    a.index-link(href="./elements.html") Страница 2 - Form Elements